* {box-sizing: border-box;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET */

body {
    font-family: sans-serif;
}

/* Header */
header {
    width: 100%;
    background-color: #638dbb;
    padding: 10px 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
header .profile::after {
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    font-size: 40px;
    /* position: absolute;
    right: 0;
    top: 0; */
    color: white;
    transition: 150ms;
}

header .profile:hover::after {
    transform: translateY(-50%);
    color: #878787;
    /* font-size: 43px; */
}

/* Main */
main {
    width: 100%;
    padding: 20px;
}

main .row {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div.addlink {
    background: rgba(173, 196, 231, 0.301);
    flex: 1;
    /* height: 300px; */
    margin-right: 25px;
    border-radius: 5px;
    overflow: hidden;
}
main div.addlink h2 {
    background-color: #638dbb;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    padding: 10px;
}
main div.addlink form {
    padding: 10px;
}
main div.addlink form label {
    display: inline-block;
    margin-top: 15px;margin-bottom: 10px;
}
main div.addlink form input, main div.addlink form button {
    width: 100%;
    padding: 6px;
    padding-left: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    transition: 150ms;
}
main div.addlink form button {
    margin: 15px 0;
}
main div.addlink form button:hover,main div.addlink form button:focus {
    background-color: #9e9e9e;
}


/* --- List Link --- */
main div.listLink {
    position: relative;
    background: rgba(173, 196, 231, 0.301);
    flex: 1;
    max-height: 500px;
    overflow: auto;
    margin-right: 25px;
    border-radius: 5px;
}
main div.listLink h2 {
    background-color: #638dbb;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    padding: 10px;
}
main div.listLink div.position {
    padding: 10px;
    position: relative;
}
main div.listLink form label {
    display: inline-block;
    margin-top: 15px;margin-bottom: 10px;
}
main div.listLink form input {
    width: 100%;
    padding: 6px;
    padding-left: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    transition: 150ms;
}
main div.listLink div.list-group {
    margin: 15px 0;
    position: relative;
}

/* List */
/* main div.listLink div.list-link {
    width: 100%;
    background: rgba(115, 131, 155, 0.5);
    margin: 10px 0 20px 0;
    font-size: 18px;
    padding: 10px 0 10px 30px;
    font-family: 'Signika Negative',calibri,sans-serif;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    position: relative;
} */
main div.listLink div.list-link ol li{
    font-size: 19px;
    font-family: 'Maven Pro', sans-serif;
}
main div.listLink div.list-link ul {
    list-style-type: none;
}
main div.listLink div.list-link ul li {
    font-size: 18px;
    padding-right: 10px;
}
main div.listLink div.list-link a {
    text-decoration: none;
    word-wrap: break-word;
}
main div.listLink div.list-link a:hover{
    color: rgb(202, 202, 255);
    transition: 200ms ;
}

/* delete */
.flexing{
    background-color: rgba(115, 131, 155, 0.5);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    margin: 20px 0;
    position: relative;
}

.theleft{
    display:flex;
    flex-direction:column;
}

.delete {
    /* background-color:#f20101bd;
    padding:10px 15px;
    color:#fff;
    text-align:center;
    margin-right: -10px; */
    box-sizing: border-box;
    text-decoration: none;
}
.delete i {
    text-shadow: 0 0 10px rgba(0,0,0,.4);
    font-size: 30px;
    color: rgba(255, 0, 0, 0.816);
    transition: 200ms;
}
.delete i:hover {
    text-shadow: 3px 3px 10px rgba(0,0,0,.7);
}

/* Delete All */
.clearAll {
    color: white;
    background-color: #198754;
    text-decoration:none; 
    padding:6px; 
    position: absolute; 
    right:0px;
    top: 0px;
    border-radius: 3px;
}

.clearAll:hover {
    background-color: #3d8a66;
}

/* SORT BY */
form.sort-by {
    position: absolute;
    top: 25px;
    right: 10px;
}


/* SORT BY BUTTOn */
form.sort-by div.checkGroup {
    position: relative;
}
form.sort-by div.sort-by div.checkGroup input[type='checkbox']{
    appearance: none;
    opacity: 0;
    position: absolute;
    top: -2px;
    left: -3px;
    border:none;
    outline: none;
    background-color: white;
}

/* LIST SORT YANG AKAN DITAmpilkan */
form.sort-by ul.listSort {
    position: absolute;
    background-color: #638DBB;
    padding: 7px;
    right: 60px;
    top: 0;
    display: none;
    z-index: 3;
    border-radius: 8px;

}
form.sort-by ul.listSort li {
    margin: 5px;
}
form.sort-by ul.listSort li a {
    text-decoration: none;color: rgb(255, 255, 255);
    font-weight: bold;font-family: monospace; font-size: 15px;
}
form.sort-by ul.listSort li a:hover {
    text-shadow: 0 0 8px #2d46618a;
    color: rgb(211, 211, 211);
}
/* JQUERY */
form.sort-by ul.listSortCheck {
    display: block;
}